
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:  #FFF5F0;
}
.container{
    width: calc(100% - 32px);
    margin: 0 auto;
}
.header-top{
    padding: 12px 0;
    position: relative;
    overflow: hidden;
    margin: 40px 0 14px 0 ;
    gap: 10px;
    border-radius: 6px;
    border: 2px solid #262626;
    background-color:  #FFDECC;
    width: 100%;
}
.header-top .text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.header-top p{
    color: #262626;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    font-family: 'Outfit', sans-serif; 
}

.left::before {
    content: "";
    width: 50px;
    height: 50px;
    left: 4px;
    top: -5px;
    position: absolute;
    background-image: url(./AboutPage.assets/images/left-ball.svg);
    background-repeat: no-repeat;
}
.left::after {
    content: "";
    width: 55px;
    height: 55px;
    left: -5px;
    top: 4px;
    position: absolute;
    background-image: url(./AboutPage.assets/images/left-rounds.svg);
    background-repeat: no-repeat;
}
.right::after {
    content: "";
    width: 50px;
    height: 50px;
    right: -17px;
    top: 30px;
    position: absolute;
    background-image: url(./AboutPage.assets/images/right-ball.svg);
    background-repeat: no-repeat;
}

.right::before {
    content: "";
    width: 55px;
    height: 55px;
    right: -4px;
    top: -2px;
    position: absolute;
    background-image: url(./AboutPage.assets/images/right-rounds.svg);
    background-repeat: no-repeat;
}
.header-logo-line{
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    border: 2px solid #262626;
    margin-bottom: 40px;
    overflow: hidden;
    background-color: #fff;
}
.logo-box{
  padding: 16px 20px;
  background-color: #FF8D4D;
  display: flex;
  align-items: center;
  gap: 5px;
  border-right: 2px solid #262626;
}
.logo-box p{
    color: #262626;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    line-height: 150%; 
}
.nav-link{
    display: none;
}
.nav-pages{
    display: flex;
}
.nav-pages ul{
    display: flex;
}
.nav-pages a{
    text-decoration: none;
    color: #262626;
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%; 
}
.nav-pages li{
   list-style: none;
}
.nav-class{
    padding: 16px 30px;
}
.class{
    border-left:2px solid #262626;;
    border-right:2px solid #262626;;
}
.class1{
    background-color: #FFAE80;
}
.active{
    background-color: #FFEFE5;
}
.menu-icon-box{
    padding: 16px 30px;
    background-color: #FFEFE5;
    border-left: 2px solid #262626;
}
.welcome-text{
    border: 2px solid #262626;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    box-shadow: 6px 6px 0px 1px #1E1E1E;
    margin-bottom: 80px;
}
.img-desing {
    position: absolute;
}
 .content{
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.welcome-text .content h1{
    color:#1A1A1A;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 130%; 
    margin-bottom: 20px;
}
.welcome-text .content p{
    color:#1A1A1A;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%; 
    margin: auto;
}


.overwiev-btn{
    padding: 8px 16px;
    border-radius: 6px;
    border: 2px solid #262626;
    margin:0 auto;
    width: 92px;
    height: 37px;
    margin-bottom: 10px;
}
.overwiev-btn a{
    color: #333;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
}
.mission-vision-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;
}
.mission-vision-btn{
    padding: 8px 14px;
    border-radius: 6px;
    border: 2px solid #262626;
    background-color: #fff;
    width: 139px;
}
.mission-vision-btn a{
    color: #333;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
}
.mission-vision-text h1{
    color:#1A1A1A;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 130%; 
}
.mission-vision-text p{
    color:#333;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 21px;
    font-weight: 500;
    line-height: 150%; 
}
.mission-vission-cards{
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    gap: 30px;
    justify-content: space-between;

}
.mission-card{
    padding: 40px;
    border-radius: 10px;
    border: 2px solid #262626;
    background: #fff;
    box-shadow: 4px 4px 0px 1px #1E1E1E;
}
.mission-header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 40px;
}
.mission-header h1{
    color: #1A1A1A;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 130%; 
}
.mission-content p{
    color:#333;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 21px;
    font-weight: 500;
    line-height: 150%; 
}
.vision-card{
    padding: 40px;
    border-radius: 10px;
    border: 2px solid #262626;
    background: #fff;
    box-shadow: 4px 4px 0px 1px #1E1E1E;
}
.vision-header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 40px;
}
.vision-header h1{
    color: #1A1A1A;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 130%; 
}
.vision-content p{
    color:#333;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 21px;
    font-weight: 500;
    line-height: 150%; 
}
.achievements-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;
}
.achievements-btn{
    padding: 8px 14px;
    border-radius: 6px;
    border: 2px solid #262626;
    background-color: #fff;
    width: 148px;
}
.achievements-btn a{
    color: #333;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
}
.achievements-text h1{
    color:#1A1A1A;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 130%; 
}
.achievements-text p{
    color:#333;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%; 
}
.award-cards{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 30px;
}
.award{
    padding: 60px 40px 40px;
    border-radius: 10px;
    border: 2px solid #262626;
    background: #FFF;
    box-shadow: 4px 4px 0px 1px #1E1E1E;
    height: 322px;
    width: 402px;
}
.award h1{
    color:#1A1A1A;
    font-size: 24px;
    font-weight: 700;
    line-height: 130%; 
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
}
.award p{
    color: #4C4C4D;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    font-family: 'Outfit', sans-serif;

}
.award-icon{
    border-radius: 12px;
    border: 2px solid  #262626;
    background: #FFDECC;
    padding: 20px;
    width: 74px;
    height: 74px;
    position: relative;
    top:37px;
    left: 30px;
}
.award-icon img{
    width: 34px;
    height: 34px;
}
.card-1{
    display: none;
}
.card-2{
    display: none;
}
.more-awards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.more-awards h1{
    color: #1A1A1A;
    font-size: 18px;
    font-weight: 700;
    line-height: 130%;
    font-family: 'Raleway', sans-serif;
 
}
.arrow-icons{
    display: flex;
    gap: 16px;
}
.arrow{
    border-radius: 6px;
    border: 2px solid #333;
    background-color: #fff;
    padding: 12px;
}
.journey-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;
}
.journey-btn{
    padding: 8px 14px;
    border-radius: 6px;
    border: 2px solid #262626;
    background-color: #fff;
    width: 185px;
}
.journey-btn a{
    color: #333;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
}
.journey-text h1{
    color:#1A1A1A;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 130%; 
}
.journey-text p{
    color:#333;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%; 
}
.years-content{
    border-radius: 12px;
    border: 2px solid #262626;
    background: #FFF;
    box-shadow: 4px 4px 0px 1px #1E1E1E;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 80px;
}
.card-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.year-card{
    border-radius: 10px;
    border: 2px solid #262626;
    width: 206px;
    background-color: #fff;
    box-shadow: 4px 4px 0px 1px #1E1E1E;
    display: flex;
    padding: 20px 24px;
    align-items: center;
    gap: 20px;
}
.year-card h2{
    color:#1A1A1A;
    font-size: 38px;
    margin: 0 auto; 
    font-weight: 700;
    line-height: 130%; 
    font-family: 'Raleway', sans-serif;
}
.text-card{
    margin: 0 auto;
}
.text-card h3{
    color: #1A1A1A;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 130%; 
    margin-bottom: 12px;
}
.text-card p{
    color:#333;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%; 
    font-family: 'Outfit', sans-serif;
}
.teacher-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;
}
.teacher-btn{
    padding: 8px 14px;
    border-radius: 6px;
    border: 2px solid #262626;
    background-color: #fff;
    width: 210px;
}
.teacher-btn a{
    color: #333;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
}
.teacher-text h1{
    color:#1A1A1A;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 130%; 
}
.teacher-text p{
    color:#333;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 19px;
    font-weight: 500;
    line-height: 150%; 
}
.teachers-container{
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,1fr);
    margin-bottom: 80px;
}
.teacher-card{
    padding: 30px;
    border-radius: 10px;
    border: 2px solid #262626;
    background-color:#FFF;
    box-shadow: 4px 4px 0px 1px #1E1E1E;
}
.profile-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    align-items: center;
}
.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile h2{
    color:#333;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    line-height: 150%;
}
.msg-btn{
    padding: 14px 16px;
    border-radius: 6px;
    border: 2px solid #262626;
    background-color: #FFDECC;
}

.about-box{
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 12px;
    border-radius: 10px;
    border: 2px solid  #262626;
    background-color: #FFF5F0;
}
.about-box h3{
    color: #333;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%; 
    font-family: 'Outfit', sans-serif;
}
.about-box p{
    color:#333;
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}
.footer-container{
    padding: 80px 80px 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 12px;
    border: 2px solid #262626;
    background-color: #fff;
    box-shadow: 6px 6px 0px 1px #1E1E1E;
}
.social-media{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.logo-name{
    justify-content: center;
    display: flex;
    gap: 5px;
    margin-bottom: 16px;
}
.logo-name h2{
    color: #262626;
    font-size: 25px;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    line-height: 150%;
}
.about-us{
    margin-bottom: 40px;
}
.about-us p{
    color: #4C4C4D;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; 
    font-family: 'Outfit', sans-serif;
}

.contact-line{
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
}
.contact-line .icon{
    padding: 6px 8px;
    border-radius: 4px;
    border: 2px solid #262626;
    background-color: #FFF5F0;
}
.contact-line a{
    color: #262626;
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    font-weight: 500;
    line-height: 150%; 
}
.our-services{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,auto);
    gap: 50px 30px;
}
.service-card h5{
    font-family: 'Outfit', sans-serif;
    color: #262626;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 20px;
}
.service-card ul{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.service-card li{
    list-style: none;
}
.service-card  a{
    font-family: 'Outfit', sans-serif;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    text-decoration: none;
}
.line1{
    width: 100%;
    height: 1px;
    background-color: #262626;
    margin-bottom: 16px;
}
.corollary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
   }
.terms{
    display: flex;
}
.terms a{
    text-decoration: none;
    color: #333;
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%; 
}
.g-line{
    width: 1px;
    height: 21px;
    background-color: #262626;
    margin: 0 6px;
}
.soc-icons{
 display: flex;
 justify-content: center;
 gap: 10px;
}
.soc-box{
    border-radius: 6px;
    border: 2px solid #262626;
    background-color: #FFDECC;
    padding: 12px; 
    width: 44px;
    height: 44px;
}
.line2{
    width: 100%;
    height: 1px;
    background-color: #262626;
    margin: 16px 0;
}
.Copyright p{
    color:#656567;
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%; 
    text-align: center;
}
@media screen and (min-width:1440px){
    .container{
        width: calc(100% - 160px);
    }
    .content{
        flex-direction: row;
        gap: 50px;
        padding: 100px 80px;
        margin: 0;
    }
    .welcome-text .content p{
        text-align:left;
        width: 535px;
    }
    .welcome-text .content h1{
        font-size: 38px;
        text-align: left;
    } 
    .overwiev-btn{
        margin: 0;
        margin-bottom: 16px;
    }
    .mission-vission-cards{
      flex-direction: row;
      gap: 40px;
    }
    .card-1{
        display: block;
    }
    .card-2{
        display: block;
    }
    .award-cards{
        margin-bottom: 40px;
    }
    .years-content{
        padding: 100px;
    }
    .card-content{
        flex-direction: row;
    }
    .teachers-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3,1fr);
    }
    .social-media{
        display: flex;
        flex-direction: row;
        gap: 80px;
    }
    .our-services{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 20px;
    }
    .logo-name{
        justify-content: start;
    }
    .about-us p{
        text-align: start;
    }
    .corollary{
     flex-direction: row;
    }
    .menu-icon-box{
        display: none;
    }
    .nav-link{
        display: contents;
    }

}   